@import "tailwindcss";

:root {
  --color-bg-page: linear-gradient(180deg, #212121 100%, #141414 0%);
  --color-bg-footer: #303030;
  --color-bg-cards: #383838;
  --color-bg-filters: #525252;
  --color-bg-campaigns: #93863F;
  
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #818F97;
  
  --color-primary: #FDDA24;
  
  --color-button-bg: #FFFFFF;
  --color-button-text: #000000;
  --color-button-border: var(--color-primary);
  --color-button-shadow: var(--color-primary);
  
  --color-border: rgba(255, 255, 255, 0.1);
  
  /* Task Card States */
  --color-bg-card-completed: rgba(0, 181, 139, 0.3);
  --color-bg-verified: #00B58B;
  
  --background: var(--color-bg-page);
  --foreground: var(--color-text-primary);
}

body {
  background: var(--color-bg-page);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}
